
 
       /****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/       
       
       .titulos-pag-nav {
            color: rgb(48, 46, 46);
            text-decoration-line: underline;
            text-decoration-color: lavenderblush;
            text-align: center;
            font-family: 'Fjalla One', sans-serif;
            font-size: 30px;
            font-weight: 100;
            font-style: normal;
       }

       
                             
       .galeriafotos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 50px;

       }

       .galeriafotos img {

        width: 300px;
        height: 300px;
       
       }
                             
                             
                             /****** INDEX *****/ 



     .subtitulo-1 {
        display: flex;
        display: inline-block;
        justify-content: center;
        
        }

    .blanco {
        border: solid 30px white;
    }

    .gris {
        border: solid 30px #e6e6e6;
    }
          
    
       /** Principio de página **/

    .caja-1 
    {display: flex;
    justify-content: center;
       

    }

    /** Navegador Principal **/

    
.caja-2 { 
    background-color: #e8dbc5;
    margin: 0%;
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    
   
}

.navegador-principal {
    display: inline-block;
    margin: 12px;
}

 nav div ul li a { 
 text-decoration: none;
 transition: all 3s ease-in ;
 color: black;
}

nav div ul li a:hover {
    text-decoration-line: underline;
    
}


/** CAJA 3 - Fotos Principales **/

.caja-3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;
}
.caja-3  img {
   
    width: 500px;
    height: 500px;

}


/** CAJA 4 - Nav- Fotos que llevan a las secciones **/


.caja-4 {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-areas: 
    "subtitulo-1 subtitulo-1 subtitulo-1 subtitulo-1"
    "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4"
    "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4"
    ;

}

.subtitulo-1 {
    grid-area: subtitulo-1;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.fotosporcategoria1 {
    grid-area: fotosporcategoria1;
    
}

.fotosporcategoria2 {
    grid-area: fotosporcategoria2;
    
}

.fotosporcategoria3{
    grid-area: fotosporcategoria3;

    
}
.fotosporcategoria4 {
    grid-area: fotosporcategoria4;
    
}

.piccategoria img {

    width: 500px;
    height: 500px;
    margin: 40px;

}

.navegador-2 {
   
    margin: 12px;
    list-style: none;
    align-items: center;
    
}


.piccategoria li a { 

    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #3d0814;
    font-weight: bold;
    
   
}




/** CAJA 5 - NOVEDADES **/

.caja-5 {
background-color: #e6e6e6;
display: grid;
 grid-template-areas: 
    "subtitulo-1"
    "fotonovedades"
    ;
    justify-items: center;
}

    .subtitulo-1 {
        grid-area: subtitulo-1;
    }

   #fotonovedades {
    grid-area: fotonovedades;
    margin: 20px;

   }




/** CAJA 6 - RECOMENDADOS PARA TI**/



.caja-6 .subtitulo-1 {
    display: flex;
    justify-content: center;
}

#fotosrecomendado {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;

}

.caja-6  img {
    width: 400px;
    height: 400px;
    
}
   
/** CAJA 7 - VISTO RECIENTEMENTE **/

.caja-7 {
    background-color:#e6e6e6;
    margin: 30px 0px;
   
}

.caja-7 .subtitulo-1 {
    display: flex;
    justify-content: center;
}

#fotosvistos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.caja-7  img {
    width: 400px;
    height: 400px;
    padding: 40PX;
}


/** CAJA 8 - NEWSLETTER **/

#caja-8 {

    background-color: #3d0814;
    border: solid 45px #3d0814;
    color: beige;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    
}



#caja-8 #botonregistro{
    background-color: #fdf5e6; 
    border: solid 30px #fdf5e6;
    color: black;
    justify-content: end;
    border-radius: 20px;
    transition: all 2s ease-in-out;
}
 
#caja-8 #botonregistro:hover {
transform: scale(2,2);

}


/** PIE DE PÁGINA **/

footer {
background-color: #696d7d;
}

/** CAJA 9 - NAV-Final de Página **/
.caja-9 {

    
    display: flex; 
    justify-content: center;
    margin: 0px;
    padding: 20px;
    

}

/** CAJA 10 - Derechos reservados **/

.caja-10 {
   
    display: flex;
    justify-content: center;
    

    
}


/*practica lista*/

.pasos-compra

{
    list-style-type: square;
}


