 
 @import "index";
 @import "variables/variables";
 
 
 
 
 /****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/       
       
 .titulos-pag-nav {
    color: rgb(48, 46, 46);
    text-decoration-line: underline;
    text-decoration-color: $color-lyricsnav;
    font-family: 'Fjalla One', sans-serif;
    @include organizacion-texto;
}


                     
.galeriafotos {
   @include pics-galeria;
}

.galeriafotos img {

width: $width/10;
height: $height*6;

}
             
.d-flex btn {
   color: #696d7d;
}
                     



