@charset "UTF-8";
/****** INDEX *****/
.subtitulo-1 {
  display: inline-block;
  display: flex;
  justify-content: center; }

.blanco {
  border: solid 30px white; }

.gris {
  border: solid 30px #e6e6e6; }

/** Principio de página **/
.caja-1 {
  display: flex;
  justify-content: center; }

/** Navegador Principal **/
.caja-2 {
  background-color: #e8dbc5;
  margin: 0%;
  border: 0px;
  display: flex;
  justify-content: center; }
  .caja-2 .piclogo {
    padding: 0px;
    border: 10px; }
    .caja-2 .piclogo img {
      width: 120px; }
  .caja-2 .navegador-principal {
    display: inline-block;
    margin: 40px 30px 15px 30px;
    text-align: center; }
  .caja-2 .piccomprar a {
    width: 10px;
    height: 80px; }

nav a {
  text-decoration: none;
  transition: all 3s ease-in;
  color: black;
  font-weight: bold; }

nav a:hover {
  text-decoration-line: underline; }

/** CAJA 3 - Foto Principal **/
#fotonu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px; }
  #fotonu img {
    width: 1580px;
    height: 600px; }

/** CAJA 4 - Nav- Fotos que llevan a las secciones **/
.caja-4 {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 subtitulo-1" "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4" "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4"; }

.subtitulo-1 {
  grid-area: subtitulo-1;
  display: flex;
  justify-content: center;
  font-size: 30px; }

.fotosporcategoria1 {
  grid-area: fotosporcategoria1; }

.fotosporcategoria2 {
  grid-area: fotosporcategoria2; }

.fotosporcategoria3 {
  grid-area: fotosporcategoria3; }

.fotosporcategoria4 {
  grid-area: fotosporcategoria4; }

.piccategoria img {
  width: 350px;
  height: 350px;
  margin: 40px; }

.piccategoria a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #410602;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0s ease-in; }

.piccategoria a:hover {
  color: #410602;
  font-size: 1.55rem; }

.navegador-2 {
  margin: 12px;
  list-style: none;
  align-items: center; }

/** CAJA 5 - NOVEDADES **/
.caja-5 {
  background-color: #e6e6e6;
  display: grid;
  grid-template-areas: "subtitulo-1" "fotonovedades";
  justify-items: center; }
  .caja-5 .subtitulo-1 {
    grid-area: subtitulo-1;
    padding: 10px; }
  .caja-5 #fotonovedades {
    grid-area: fotonovedades;
    margin: 20px; }
    .caja-5 #fotonovedades img {
      width: 800px;
      height: 600px;
      padding: 20px; }

/** CAJA 6 - RECOMENDADOS PARA TI**/
.caja-6 {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 " "recomendado1 recomendado2 recomendado3 " "recomendado1 recomendado2 recomendado3 "; }

.subtitulo-1 {
  grid-area: subtitulo-1;
  display: flex;
  justify-content: center;
  font-size: 30px; }

.recomendado1 {
  grid-area: recomendado1; }

.recomendado2 {
  grid-area: recomendado2; }

.recomendado3 {
  grid-area: recomendado3; }

.picrecomendados {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: all 0s ease-in; }
  .picrecomendados img {
    width: 300px;
    height: 300px;
    margin: 40px; }
  .picrecomendados h5 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #e451b8;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 1s ease-in; }
  .picrecomendados a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    justify-content: space-evenly;
    width: 150px;
    margin: 30px; }

.picrecomendados:hover {
  border: solid 2px lightblue;
  font-weight: bold; }
  .picrecomendados:hover a:hover {
    color: black;
    font-size: 1.2rem; }

/** CAJA 7 - VISTO RECIENTEMENTE **/
.caja-7 {
  background-color: #e6e6e6;
  margin: 30px 0px;
  display: flex;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 " "visto1 visto2 visto3 " "visto1 visto2 visto3 "; }
  .caja-7 .subtitulo-1 {
    grid-area: subtitulo-1;
    background-color: #e6e6e6;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px;
    height: 20px; }

.visto1 {
  grid-area: visto1; }

.visto2 {
  grid-area: visto2; }

.visto3 {
  grid-area: visto3; }

.picvisto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px;
  position: relative; }
  .picvisto img {
    width: 300px;
    height: 300px;
    margin: 40px; }
  .picvisto h5 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #21054e;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 1s ease-in; }
  .picvisto a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    justify-content: space-evenly;
    width: 150px;
    margin: 30px; }

a:hover {
  color: black;
  font-size: 1.2rem;
  font-weight: bold; }

/** CAJA 8 - NEWSLETTER **/
#caja-8 {
  background-color: #410602;
  border: solid 45px #410602;
  color: beige;
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly; }
  #caja-8 #botonregistro {
    background-color: #fdf5e6;
    border: solid 30px #fdf5e6;
    color: black;
    justify-content: end;
    border-radius: 20px;
    transition: all 2s ease-in-out; }
    #caja-8 #botonregistro a {
      text-decoration: none;
      color: black; }

#formulario {
  justify-content: center;
  margin: 50px; }

#caja-8 #botonregistro:hover {
  transform: scale(1.1, 1.1); }

/** PIE DE PÁGINA **/
footer {
  background-color: #696d7d; }

/** CAJA 9 - NAV-Final de Página **/
.caja-9 {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 20px; }

/** CAJA 10 - Derechos reservados **/
.caja-10 {
  display: flex;
  justify-content: center; }

/****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/
.titulos-pag-nav {
  color: #302e2e;
  text-decoration-line: underline;
  text-decoration-color: #f5efef;
  font-family: 'Fjalla One', sans-serif;
  margin: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-style: normal; }

.galeriafotos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px; }
  .galeriafotos img {
    width: 300px;
    height: 300px; }
  .galeriafotos h5 {
    margin: 15px;
    display: flex;
    justify-content: center; }
  .galeriafotos a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0.6s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    width: 150px;
    justify-content: space-evenly;
    margin: 30px; }

.galeriafotos a:hover {
  transform: scale(1.1, 1.1);
  color: #b144e4;
  font-weight: bold; }

.titulo-2 {
  color: #410602;
  text-decoration-line: none;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  grid-area: titulo-2; }

.caja-productos {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "titulo-2 titulo-2 titulo-2 " "fotosproducto1 fotosproducto2 fotosproducto3" "fotosproducto1 fotosproducto2 fotosproducto3"; }
