@charset "UTF-8";
/****** INDEX *****/
body {
  overflow-x: hidden; }

.subtitulo-1 {
  display: inline-block;
  display: flex;
  justify-content: center; }

.blanco {
  border: solid 30px white; }

.gris {
  border: solid 30px #e6e6e6; }

body h3 {
  font-weight: bold; }

/** Principio de página **/
.caja-1 {
  display: flex;
  justify-content: center; }

/** Navegador Principal **/
.caja-2 {
  background-color: #e8dbc5;
  margin: 0%;
  border: 0px;
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .caja-2 {
      display: flex;
      display: inline-block; } }

.piclogo {
  padding: 0px;
  border: 10px; }
  .piclogo img {
    width: 120px; }

.navegador-principal {
  display: inline-block;
  margin: 40px 30px 15px 30px;
  text-align: center; }

nav a {
  text-decoration: none;
  transition: all 3s ease-in;
  color: black;
  font-weight: bold; }

nav a:hover {
  text-decoration-line: underline; }

/**  Foto Principal **/
#fotonu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px; }
  #fotonu img {
    width: 1580px;
    height: 600px; }
    @media (max-width: 768px) {
      #fotonu img {
        width: 700px;
        height: 580px; } }
    @media (max-width: 425px) {
      #fotonu img {
        display: none; } }

/**  Fotos que llevan a las secciones **/
.caja-4 {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 subtitulo-1" "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4" "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4"; }
  @media (max-width: 425px) {
    .caja-4 {
      display: none; } }

.subtitulo-1 {
  grid-area: subtitulo-1;
  display: flex;
  justify-content: center;
  font-size: 30px; }

.fotosporcategoria1 {
  grid-area: fotosporcategoria1; }

.fotosporcategoria2 {
  grid-area: fotosporcategoria2; }

.fotosporcategoria3 {
  grid-area: fotosporcategoria3; }

.fotosporcategoria4 {
  grid-area: fotosporcategoria4; }

.piccategoria img {
  width: 300px;
  height: 320px;
  margin: 30px; }
  @media (max-width: 1024px) {
    .piccategoria img {
      width: 220px;
      height: 250px;
      margin: 20px; } }
  @media (max-width: 768px) {
    .piccategoria img {
      width: 160px;
      height: 200px;
      margin: 14px; } }

.piccategoria a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #410602;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0s ease-in; }

.piccategoria a:hover {
  color: #410602;
  font-size: 1.55rem; }

.piccategoria .navegador-2 {
  margin: 12px;
  list-style: none;
  align-items: center; }

/**  NOVEDADES **/
.caja-5 {
  background-color: #e6e6e6;
  display: grid;
  grid-template-areas: "subtitulo-1" "fotonovedades";
  justify-items: center; }
  @media (max-width: 425px) {
    .caja-5 {
      display: none; } }
  .caja-5 .subtitulo-1 {
    grid-area: subtitulo-1;
    padding: 10px; }
  .caja-5 #fotonovedades {
    grid-area: fotonovedades;
    margin: 20px; }
    .caja-5 #fotonovedades img {
      width: 800px;
      height: 600px;
      padding: 20px; }
      @media (max-width: 768px) {
        .caja-5 #fotonovedades img {
          width: 600px;
          height: 400px;
          padding: 15px; } }

/** RECOMENDADOS PARA TI**/
.caja-6 {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 " "recomendado1 recomendado2 recomendado3 " "recomendado1 recomendado2 recomendado3 "; }
  @media (max-width: 425px) {
    .caja-6 {
      grid-template-areas: "subtitulo-1 " "recomendado1 " "recomendado2" "recomendado3 "; } }

.subtitulo-1 {
  grid-area: subtitulo-1;
  display: flex;
  justify-content: center;
  font-size: 30px; }

.recomendado1 {
  grid-area: recomendado1; }

.recomendado2 {
  grid-area: recomendado2; }

.recomendado3 {
  grid-area: recomendado3; }

.picrecomendados {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: all 0s ease-in; }
  .picrecomendados img {
    width: 400px;
    height: 400px;
    margin: 40px; }
    @media (max-width: 1024px) {
      .picrecomendados img {
        width: 280px;
        height: 280px;
        margin: 25px; } }
    @media (max-width: 768px) {
      .picrecomendados img {
        width: 225px;
        height: 225px;
        margin: 15px; } }
  .picrecomendados h5 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #e451b8;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 1s ease-in; }
  .picrecomendados a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    justify-content: space-evenly;
    width: 150px;
    margin: 30px; }

.picrecomendados:hover {
  border: solid 2px lightblue;
  font-weight: bold; }
  .picrecomendados:hover a:hover {
    color: black;
    font-size: 1.2rem; }

/**  NEWSLETTER **/
#caja-8 {
  background-color: #410602;
  border: solid 45px #410602;
  color: #e8dbc5;
  margin: 0px 0px;
  display: flex;
  justify-content: space-evenly; }
  #caja-8 #titulo-dos {
    justify-content: center;
    margin: 20px; }
    @media (max-width: 425px) {
      #caja-8 #titulo-dos {
        margin: 10px; } }
  #caja-8 #botonregistro {
    background-color: #fdf5e6;
    border: solid 30px #fdf5e6;
    color: black;
    justify-content: end;
    border-radius: 20px;
    transition: all 2s ease-in-out; }
    @media (max-width: 425px) {
      #caja-8 #botonregistro {
        border: solid 10px #fdf5e6; } }
    #caja-8 #botonregistro a {
      text-decoration: none;
      color: black; }
  #caja-8 #botonregistro:hover {
    transform: scale(1.1, 1.1); }

/** Fromulario- NEWSLETTER **/
#bodyformulario {
  background-color: #fbf1e9; }
  #bodyformulario h3 {
    color: #790404;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 30px; }
  #bodyformulario #formulario {
    justify-content: center;
    margin: 50px; }

/**  VISTO RECIENTEMENTE  **/
.caja-7 {
  background-color: white;
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-areas: "subtitulo-1 subtitulo-1 subtitulo-1 " "visto1 visto2 visto3 " "visto1 visto2 visto3 "; }
  @media (max-width: 425px) {
    .caja-7 {
      grid-template-areas: "subtitulo-1 " "visto1" "visto2" "visto3"; } }
  .caja-7 .subtitulo-1 {
    grid-area: subtitulo-1;
    display: flex;
    justify-content: center;
    font-size: 30px; }

.visto1 {
  grid-area: visto1; }

.visto2 {
  grid-area: visto2; }

.visto3 {
  grid-area: visto3; }

.picvisto {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: all 0s ease-in; }
  .picvisto img {
    width: 400px;
    height: 400px;
    margin: 40px; }
    @media (max-width: 1024px) {
      .picvisto img {
        width: 280px;
        height: 280px;
        margin: 25px; } }
    @media (max-width: 768px) {
      .picvisto img {
        width: 225px;
        height: 225px;
        margin: 15px; } }
  .picvisto h5 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #a30c0c;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 1s ease-in; }
  .picvisto a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    justify-content: space-evenly;
    width: 150px;
    margin: 30px; }

.picvisto:hover {
  border: solid 2px #e8dbc5;
  font-weight: bold; }
  .picvisto:hover a:hover {
    color: #20084d;
    font-size: 1.2rem;
    font-weight: bold; }

/******   NOSOTROS *****/
#nosotros {
  justify-content: center;
  margin: 0%;
  padding: 60px;
  background-color: #e6e6e6; }
  @media (max-width: 425px) {
    #nosotros {
      padding: 12px; } }
  #nosotros h3 {
    color: #20084d;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.9rem; }
  #nosotros p {
    font-size: 1.2rem;
    margin: 40px;
    text-align: justify; }
  #nosotros #link {
    font-size: 1.2rem;
    margin: 40px;
    text-align: left; }
  #nosotros h5 {
    margin: 40px 20px 10px;
    color: #20084d;
    font-weight: bold;
    text-align: left; }
  #nosotros h6 {
    margin: 40px;
    color: #20084d;
    font-weight: bold;
    text-align: left; }
  #nosotros .contact {
    font-size: 1rem;
    margin: 40px;
    text-align: justify; }
  #nosotros #cajainfo {
    display: table;
    border-spacing: 10px; }
    @media (max-width: 425px) {
      #nosotros #cajainfo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; } }
    #nosotros #cajainfo .individual {
      display: table-cell;
      margin: 0px; }
  #nosotros a {
    font-size: 1.2rem;
    margin: 20px;
    color: black;
    text-align: left;
    transition: all 0s ease-in; }
  #nosotros a:hover {
    color: #d8670a; }
  #nosotros .table {
    margin: 40px 43px;
    text-align: center; }
    @media (max-width: 425px) {
      #nosotros .table {
        margin: 10px 5px; } }
    #nosotros .table th {
      font-size: 1.1rem; }
    #nosotros .table td {
      font-size: 1.1rem; }

/** PIE DE PÁGINA **/
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8); }
  .context-dark .rights, .bg-gray-dark .rights, .bg-primary .rights {
    display: block;
    text-align: center; }
  .context-dark .footer-classic a, .context-dark .footer-classic a:focus, .context-dark .footer-classic a:active, .bg-gray-dark .footer-classic a, .bg-gray-dark .footer-classic a:focus, .bg-gray-dark .footer-classic a:active, .bg-primary .footer-classic a, .bg-primary .footer-classic a:focus, .bg-primary .footer-classic a:active {
    color: #ffffff; }
  .context-dark .social-inner, .bg-gray-dark .social-inner, .bg-primary .social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none; }
  .context-dark .social-container .col, .bg-gray-dark .social-container .col, .bg-primary .social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .context-dark .nav-list li a:before, .bg-gray-dark .nav-list li a:before, .bg-primary .nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease; }

/****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/
.titulos-pag-nav {
  color: #302e2e;
  text-decoration-line: underline;
  text-decoration-color: #f5efef;
  font-family: 'Fjalla One', sans-serif;
  margin: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-style: normal; }

.galeriafotos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .galeriafotos img {
    width: 300px;
    height: 300px; }
  .galeriafotos h5 {
    margin: 15px;
    display: flex;
    justify-content: center; }
  .galeriafotos a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in;
    border-radius: 20px;
    background-color: white;
    border: solid 1.7px black;
    width: 150px;
    justify-content: space-evenly;
    margin: 30px; }

.galeriafotos a:hover {
  transform: scale(1.1, 1.1);
  color: #b144e4;
  font-weight: bold; }

.titulo-2 {
  color: #410602;
  text-decoration-line: none;
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  justify-content: center;
  grid-area: titulo-2; }

.caja-productos {
  margin: 70px;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "titulo-2 titulo-2 titulo-2 " "fotosproducto1 fotosproducto2 fotosproducto3" "fotosproducto1 fotosproducto2 fotosproducto3"; }

/****** CARRITO DE COMPRAS*****/
#compras {
  background-color: #fbf1e9;
  margin: 70px 110px; }
  #compras h3 {
    color: #790404;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.7rem;
    justify-content: center; }
  #compras h5 {
    color: #790404;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 50px 20px 25px; }
  #compras h6 {
    font-size: 1.1rem;
    margin: 20px; }
  #compras ul {
    margin: 20px; }
    #compras ul li {
      font-size: 1.1rem;
      margin: px; }
    #compras ul .pasoscompras {
      margin: 10px; }
    #compras ul a {
      color: black;
      transition: all 0s ease-in; }
    #compras ul a:hover {
      color: #28149c; }
  #compras #devoluciones {
    margin: 70px 20px 25px; }
    #compras #devoluciones .accordion-body {
      font-size: 1.1rem; }
    #compras #devoluciones strong {
      font-size: 1.2rem; }
