 /****** INDEX *****/ 
 @import "variables/variables";

body { 
  overflow-x: hidden;
}


 .subtitulo-1 {
   
    display: inline-block;
    display: flex;
    justify-content: center;
    }
    
    .blanco {
    border: solid 30px $blanco;
    }
    
    .gris {
    border: solid 30px $gris;
    }
    body  {
      h3 { font-weight: bold; }
    }
    
    /** Principio de página **/
    
    .caja-1 
    {   @include organizacion-basica;}
    
    /** Navegador Principal **/
    
    
    .caja-2 { 
    background-color: $pastel;
    margin: 0%;
    border: 0px;
    display: flex;
    justify-content:center;

    @media (max-width:768px) {
      display: flex;
      display: inline-block;
      }


      }


    .piclogo {
      padding: 0px;
      border: 10px;
      
      img {
        width: 120px;}

      } 

      .navegador-principal {
        display: inline-block;
        margin: 40px 30px 15px 30px;
        text-align: center;
        }


       

   
  
    
    
    
    nav {
       a {
         text-decoration: none;
         transition: all 3s ease-in ;
         color: $negro;
         font-weight:bold;

      }
    }
    
    nav {
      a:hover { 
         text-decoration-line: underline;
      }
   }
    
    
    
    
    /**  Foto Principal **/
    
    #fotonu {
       text-align: center;
       @include pics-galeria;
       
      img {
      width: 1580px;
      height: 600px;

      @media (max-width:768px) {
        width: 700px;
        height: 580px;
        }

        @media (max-width:425px) {
          display:none;
          }
    }
  }
    
    /**  Fotos que llevan a las secciones **/
    
    
    .caja-4 {
    margin: 70px;
    @include organizacion-space;
    display: grid;
    grid-template-areas: 
    "subtitulo-1 subtitulo-1 subtitulo-1 subtitulo-1"
    "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4"
    "fotosporcategoria1 fotosporcategoria2 fotosporcategoria3 fotosporcategoria4";

    @media (max-width:425px) {
      display:none;
      }
    
    }
    
    .subtitulo-1 {
    grid-area: subtitulo-1;
    @include organizacion-basica;
    font-size: 30px;
    }
    
    .fotosporcategoria1 {
    grid-area: fotosporcategoria1;
    
    }
    
    .fotosporcategoria2 {
    grid-area: fotosporcategoria2;
    
    }
    
    .fotosporcategoria3{
    grid-area: fotosporcategoria3;
    
    
    }
    .fotosporcategoria4 {
    grid-area: fotosporcategoria4;
    
    }
    
    .piccategoria {

      img { width: 300px;
            height: 320px;
            margin: 30px;

            @media (max-width:1024px) {
            width: 220px;
            height: 250px;
            margin: 20px;
            }

            
      @media (max-width:768px) {
        width: 160px;
        height: 200px;
        margin: 14px;
        }
         }

      a { text-decoration: none;
        @include organizacion-basica;
          color: $vinotinto;
          font-weight: bold;
          font-size: 1.5rem;
          transition: all 0s ease-in ;
         }
         a:hover {color: $vinotinto;
          font-size: 1.55rem;
  
  
        }
   
  
    .navegador-2 {
    
      margin: 12px;
      list-style: none;
      align-items: center;
      
      }
    
    }
    
   
    
    
    /**  NOVEDADES **/
    
    .caja-5 {
    background-color: $gris;
    display: grid;
    grid-template-areas: 
    "subtitulo-1"
    "fotonovedades";
    justify-items: center;

    @media (max-width:425px) {
      display:none;
      }
    
    
    .subtitulo-1 {
    grid-area: subtitulo-1;
    padding: 10px;
    }
    
    #fotonovedades {
    grid-area: fotonovedades;
    margin: 20px;
    
    img {
      width: 800px;
      height: 600px;
      padding: 20px;

      @media (max-width:768px) {
        width: 600px;
      height: 400px;
      padding: 15px;
        }
    }
    }

  }
    
    
    
    
    /** RECOMENDADOS PARA TI**/
    
  

    .caja-6 {
      margin: 70px;
      @include organizacion-space;
      display: grid;
      grid-template-areas: 
      "subtitulo-1 subtitulo-1 subtitulo-1 "
      "recomendado1 recomendado2 recomendado3 "
      "recomendado1 recomendado2 recomendado3 ";

      @media (max-width:425px) {
        grid-template-areas: 
      "subtitulo-1 "
      "recomendado1 "
      "recomendado2"
      "recomendado3 ";  }
    }
      
    
      
      .subtitulo-1 {
      grid-area: subtitulo-1;
      @include organizacion-basica;
      font-size: 30px;
      }
      
      .recomendado1 {
      grid-area: recomendado1;
      
      }

      .recomendado2 {
        grid-area: recomendado2;
        
        }
        .recomendado3 {
          grid-area: recomendado3;
          
          }
      
      
      
      .picrecomendados {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: all 0s ease-in;

        

        img { width: 400px;
              height: 400px;
              margin: 40px; 

              @media (max-width:1024px) {
              width: 280px;
              height: 280px;
              margin: 25px;
              }

              @media (max-width:768px) {
                width: 225px;
                height: 225px;
                margin: 15px;
                }
           }
  
        h5 { text-decoration: none;
          @include organizacion-basica;
            color: rgb(228, 81, 184);
            font-weight: bold;
            font-size: 1.2rem;
            transition: all 1s ease-in ;
           }

           a {
            text-decoration: none;
            color: $negro;
            @include organizacion-basica;
            transition: all 0s ease-in;
            border-radius: 20px;
            background-color: $blanco;
            border: solid 1.7px $negro;
            justify-content: space-evenly;
            width: 150px;
            margin: 30px;
           }
      }
      
  
      .picrecomendados:hover {
          border: solid 2px lightblue;
          font-weight: bold;
  
        a:hover {color: $negro;
          font-size: 1.2rem;
        }
      }
     
    /**  NEWSLETTER **/
    
    #caja-8 {
    
      background-color: $vinotinto;
      border: solid 45px $vinotinto;
      color: $pastel;
      margin: 0px 0px;
      @include organizacion-space;

          
         #titulo-dos { justify-content: center;
          margin: 20px;

          @media (max-width:425px)  {
            margin: 10px;
}




      }
      
        #botonregistro{
          background-color: #fdf5e6; 
          border: solid 30px #fdf5e6;
          color:$negro;
          justify-content: end;
          border-radius: 20px;
          transition: all 2s ease-in-out;

          @media  (max-width:425px)  {
            border: solid 10px #fdf5e6;}

            
  
        a {
          text-decoration: none;
          color: black;

                }
      
      }
      #botonregistro:hover {
        transform: scale(1.1,1.1);
         }
     }

    

    /** Fromulario- NEWSLETTER **/
     
      
     #bodyformulario { background-color: #fbf1e9;

      h3{
        color:$rojo;
        @include organizacion-basica;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 30px;
       }
     #formulario {
      justify-content: center;
      margin: 50px;
     }
    }
      
    
    /**  VISTO RECIENTEMENTE  **/
    
     
.caja-7 {
     background-color:white;
      margin: 70px ;
      @include organizacion-space;
      display: grid;
      grid-template-areas: 
      "subtitulo-1 subtitulo-1 subtitulo-1 "
      "visto1 visto2 visto3 "
      "visto1 visto2 visto3 ";

      @media (max-width:425px) {
        grid-template-areas: 
      "subtitulo-1 "
      "visto1"
      "visto2"
      "visto3";  }
      
      
      
      .subtitulo-1 {
        grid-area: subtitulo-1;
        @include organizacion-basica;
        font-size: 30px;
      }
    }
      
      .visto1 {
      grid-area: visto1;
      }

      .visto2 {
        grid-area: visto2;
        }

        .visto3 {
          grid-area: visto3;
          }
      
      
      
      .picvisto{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: all 0s ease-in; 
        
        

        img { width: 400px;
              height: 400px;
              margin: 40px; 
  
                @media (max-width:1024px) {
                width: 280px;
                height: 280px;
                margin: 25px;
                }

                @media (max-width:768px) {
                  width: 225px;
                  height: 225px;
                  margin: 15px;
                  }
           }
  
        h5 { text-decoration: none;
          @include organizacion-basica;
            color: rgb(163, 12, 12);
            font-weight: bold;
            font-size: 1.2rem;
            transition: all 1s ease-in ;
           }

           a {
            text-decoration: none;
            color: $negro;
            @include organizacion-basica;
            transition: all 0s ease-in;
            border-radius: 20px;
            background-color: $blanco;
            border: solid 1.7px $negro;
            justify-content: space-evenly;
            width: 150px;
            margin: 30px;
           }
          }
     
      
  .picvisto:hover {
          border: solid 2px $pastel;
          font-weight: bold;
        
  
        a:hover {color:$morado;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
     
    
    
    
 /******   NOSOTROS *****/       
 #nosotros {
  justify-content: center;
  margin: 0%;
  padding: 60px;
  background-color: $gris;

  @media (max-width:425px) {
    padding: 12px;}
  
  
  h3{
     color: $morado;
     @include organizacion-basica;
     font-weight: bold;
     font-size: 1.9rem;
    }
 

    p {font-size: 1.2rem;
      margin: $margenp;
      text-align: justify;
      }

    #link { font-size: 1.2rem;
      margin: $margenp;
      text-align: left;

      }

    h5 { margin:40px 20px 10px;
      color: $morado;
      font-weight: bold;
      text-align: left;
      }

      h6{
      margin: $margenp;
      color: $morado;
      font-weight: bold;
      text-align: left;
       }

       .contact {
        font-size: 1rem;
        margin: $margenp;
        text-align: justify;
       }

       #cajainfo
       {display: table;
        border-spacing: 10px;

        @media (max-width:425px) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column; }

        .individual {
          display: table-cell;
          margin: 0px; }
         
       }
      a {
        font-size: 1.2rem;
        margin: 20px;
        color:$negro;
        text-align: left;
        transition: all 0s ease-in;
      }

      a:hover{
        color: rgb(216, 103, 10);

      }

      .table {
        margin: 40px 43px;
        text-align: center;

        @media (max-width:425px) {
          margin: 10px 5px;}

        th { font-size: 1.1rem;
        }

        td { font-size: 1.1rem;
        }
      }

      
    }

      
    
    /** PIE DE PÁGINA **/
    

    .context-dark, .bg-gray-dark, .bg-primary {
      color: rgba(255, 255, 255, 0.8);
      

      .rights {
        display: block;
        text-align: center;
      }
      
 
  .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
      color: #ffffff;
  }
  
  
  .social-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 23px;
      font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
  }
  .social-container .col {
      border: 1px solid rgba(255, 255, 255, 0.1);
      .letra {
        
      }
  }
  .nav-list li a:before {
      content: "\f14f";
      font: 400 21px/1 "Material Design Icons";
      color: #4d6de6;
      display: inline-block;
      vertical-align: baseline;
      margin-left: -28px;
      margin-right: 7px;
      opacity: 0;
      visibility: hidden;
      transition: .22s ease;
  }
}
   
    
    