 
 @import "index";
 @import "variables/variables";
 
 
 
 
 /****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/       
       
 .titulos-pag-nav {
    color: rgb(48, 46, 46);
    text-decoration-line: underline;
    text-decoration-color: $color-lyricsnav;
    font-family: 'Fjalla One', sans-serif;
    margin: 50px;
    @include organizacion-texto;
}


                     
.galeriafotos {
   @include pics-galeria;

   img { 
      width: $width/10;
      height: $height*6;

   }

   h5 {
      margin: 15px;
      @include organizacion-basica;

    }

    a {
      text-decoration: none;
      color: $negro;
      @include organizacion-basica;
      transition: all 0.5s ease-in;
      border-radius: 20px;
      background-color: $blanco;
      border: solid 1.7px $negro;
      width: 150px;
      justify-content: space-evenly;
      margin: 30px;
     }
}

.galeriafotos {
  a:hover{
   transform: scale(1.1,1.1);
   color: rgb(177, 68, 228);
   font-weight: bold; 
  } 
}   

                     


.titulo-2 {
   color: $vinotinto;
   text-decoration-line:none;
   font-family: 'Fjalla One', sans-serif;
   @include organizacion-texto;
   grid-area: titulo-2;
   }
 
 
   .caja-productos {
     margin: 70px;
     @include organizacion-space;
     display: grid;
     grid-template-areas: "titulo-2 titulo-2 titulo-2 "
    "fotosproducto1 fotosproducto2 fotosproducto3"
    "fotosproducto1 fotosproducto2 fotosproducto3"; }

    .whatsapp {
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      border-radius:50px;
      text-align:center;
      font-size:30px;
      z-index:100;
    }
 
 /****** CARRITO DE COMPRAS*****/       
  

    #compras {
      background-color: #fbf1e9;
      margin: 70px 110px;

      h3 { 
      color:$rojo;
        @include organizacion-basica;
        font-weight: bold;
        font-size: 1.7rem;
        justify-content: center;
      }

      h5 {color:$rojo;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 50px 20px 25px;

      }

      h6 {
        font-size: 1rem;
        margin: 20px;

      }

      

      ul {
        margin: 20px;
        font-size: 1.1rem;

        li {
          margin: 7px;
        }

        a { color: $negro;
          transition: all 0s ease-in;
        }

        a:hover { color:rgb(44, 24, 155);
        }
      }

      #devoluciones {
        margin: 70px 20px 25px;
      }
      
      .accordion-body {font-size: 1rem;

      }
        
  }
    