 
 @import "index";
 @import "variables/variables";
 
 
 
 
 /****** PAGUINAS: ACCESORIOS + TOPS + FALDAS + VESTIDOS*****/       
       
 .titulos-pag-nav {
    color: rgb(48, 46, 46);
    text-decoration-line: underline;
    text-decoration-color: $color-lyricsnav;
    font-family: 'Fjalla One', sans-serif;
    margin: 50px;
    @include organizacion-texto;
}


                     
.galeriafotos {
   @include pics-galeria;

   img { 
      width: $width/10;
      height: $height*6;

   }

   h5 {
      margin: 15px;
      @include organizacion-basica;

    }

    a {
      text-decoration: none;
      color: $negro;
      @include organizacion-basica;
      transition: all 0.6s ease-in;
      border-radius: 20px;
      background-color: $blanco;
      border: solid 1.7px $negro;
      width: 150px;
      justify-content: space-evenly;
      margin: 30px;
     }
}

.galeriafotos {
  a:hover{
   transform: scale(1.1,1.1);
   color: rgb(177, 68, 228);
   font-weight: bold; 
  } 
}   

                     


.titulo-2 {
   color: $vinotinto;
   text-decoration-line:none;
   font-family: 'Fjalla One', sans-serif;
   @include organizacion-texto;
   grid-area: titulo-2;
   }
 
 
   .caja-productos {
     margin: 70px;
     @include organizacion-space;
     display: grid;
     grid-template-areas: "titulo-2 titulo-2 titulo-2 "
    "fotosproducto1 fotosproducto2 fotosproducto3"
    "fotosproducto1 fotosproducto2 fotosproducto3"; }
 
  

   